# Ignore everything
*

# But NOT these directories (keep them tracked)
!CHANGELOG.md
!LICENSE
!tests/
tests/*
!bin/
!bin/**
!tests/samplesheet.txt
!tests/10x3p/data/
!tests/10x3p/data/**
!tests/10x3p/barcodes.tsv
!tests/references/
!tests/references/**
!.github/
!.github/**
!.github/workflows/
!.github/workflows/**

# Unignore these directories + everything inside them
!workflows/
!workflows/**
!subworkflows/
!subworkflows/**
!modules/
!modules/**
!conf/
!conf/**

# Unignore core files
!main.nf
!nextflow.config
!README.md
!.gitignore