// // nextflow.config

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Shared parameters
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

includeConfig 'conf/params.config' conf/tests/params_10x3p.config

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Execution profiles
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

profiles {

  // =========================
  // 1) Local + Docker (CPU)
  // =========================
  docker_local_cpu {

    process {
      executor  = 'local'
      container = params.container_trq

      // Use subread container only for featureCounts step
      withName: 'TRANQUILLYZER_PIPELINE:FEATURECOUNTS_MTX' {
        container = params.container_subread
      }

      // Ensure no GPU options for CPU profile
      containerOptions = ''
    }

    docker {
      enabled = true
    }
  }


  // =========================
  // 2) Local + Docker (GPU)
  // =========================
  docker_local {

    process {
      executor  = 'local'
      container = params.container_trq

      // Use subread container only for featureCounts step (no GPUs needed)
      withName: 'TRANQUILLYZER_PIPELINE:FEATURECOUNTS_MTX' {
        container        = params.container_subread
        containerOptions = ''
      }

      // GPU only for processes labeled 'gpu'
      withLabel: 'gpu' {
        accelerator      = 1
        containerOptions = '--gpus all'
      }

      // Explicitly ensure CPU-labeled processes don't get GPU options
      withLabel: 'cpu' {
        containerOptions = ''
      }
    }

    docker {
      enabled = true
    }
  }


  // =========================
  // 3) Local + Singularity/Apptainer
  // =========================
  singularity_local {

    process {
      executor  = 'local'
      container = params.container_trq

      // Use subread container only for featureCounts step
      withName: 'TRANQUILLYZER_PIPELINE:FEATURECOUNTS_MTX' {
        container        = params.container_subread
        containerOptions = ''   // important: don't add --nv here
      }

      // GPU only for processes labeled 'gpu'
      withLabel: 'gpu' {
        accelerator      = 1
        containerOptions = '--nv'
      }

      // CPU-labeled processes do not get --nv
      withLabel: 'cpu' {
        containerOptions = ''
      }
    }

    singularity {
      enabled    = true
      autoMounts = true
      singularity.cacheDir   = "$baseDir/.nf_singularity_cache"
    }
  }


  // =========================
  // 4) Slurm + Singularity/Apptainer
  // =========================
  slurm_singularity {

    process {
      executor  = 'slurm'
      queue     = 'shen'
      container = params.container_trq

      // Use subread container only for featureCounts step
      withName: 'TRANQUILLYZER_PIPELINE:FEATURECOUNTS_MTX' {
        container        = params.container_subread
        containerOptions = ''
      }

      // GPU-aware processes
      withLabel: 'gpu' {
        accelerator      = 4
        containerOptions = '--nv'
      }

      // CPU-labeled processes do not get --nv
      withLabel: 'cpu' {
        containerOptions = ''
      }
    }

    singularity {
      enabled    = true
      autoMounts = true
    }
  }
}


/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Output reports
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

trace {
  enabled   = true
  file      = "${params.outdir ?: 'results'}/pipeline_info/execution_trace.tsv"
  sep       = '\t'
  fields    = 'task_id,process,status,exit,submit,start,complete,realtime,%cpu,cpus,peak_rss,peak_vmem'
  overwrite = true
}

report {
  enabled   = true
  file      = "${params.outdir ?: 'results'}/pipeline_info/execution_report.html"
  overwrite = true
}

timeline {
  enabled   = true
  file      = "${params.outdir ?: 'results'}/pipeline_info/execution_timeline.html"
  overwrite = true
}

dag {
  enabled   = true
  file      = "${params.outdir ?: 'results'}/pipeline_info/pipeline_dag.svg"
  overwrite = true
}