params {
  samplesheet = './tests/samplesheet.txt'
  outdir      = './tests/10x3p'

  // Reference files 
  reference          = './tests/references/hg38_gencode_chr21.fa'
  gtf                = './tests/references/gencode.v30.annotation_chr21.gtf'

  // base_qual flag
  output_bquals      = true
  output_fastq       = true

  // Model
  model_name         = '10x3p_sc_ont_011'
  seq_order_file     = ''
  model_type         = 'CRF'
  chunk_size         = 300_000
  bc_lv_threshold    = 1
  gpu_mem            = 48

  // Resources
  preprocess_cpus    = 2
  annotate_cpus      = 2
  align_cpus         = 2
  dedup_cpus         = 2
  max_open_cb_writers= 64
  bucket_threads     = 2
  merge_threads      = 2

  // Steps toggles
  split_bam          = true
  featurecounts      = true

  featurecounts_threads    = 2
  featurecounts_batch_size = 200
  featurecounts_extra      = "-g gene_id -t exon -s 1"

  // Container image
  container_engine        = 'singularity'
  container_gpu_flags     = ''
  container_trq           = 'varishenlab/tranquillyzer:tranquillyzer_v0.2.0_tf_2.15.1'
  container_subread       = 'varishenlab/featurecounts:subread2.0.6_py3.10.12'
  image_dir               = "$baseDir/container_images"
  container_binds         = [
    '/varidata:/varidata',
    '/cm/local/apps/cuda/libs/current/lib64:/cm/local/apps/cuda/libs/current/lib64'
  ]
  container_extra_opts  = ''
}