params {
  samplesheet = './tests/samplesheet.txt'
  outdir      = './tests/10x3p/results'

  // Reference files 
  reference          = './tests/references/hg38_gencode_chr21.fa'
  gtf                = './tests/references/gencode.v30.annotation_chr21.gtf'

  // base_qual flag
  output_bquals      = false
  output_fastq       = false

  // Model
  model_name         = '10x3p_sc_ont_011'
  seq_order_file     = ''
  model_type         = 'CRF'
  chunk_size         = 300_000
  bc_lv_threshold    = 1
  gpu_mem            = 48

  // Resources
  preprocess_cpus    = 32
  annotate_cpus      = 32
  align_cpus         = 32
  dedup_cpus         = 16
  max_open_cb_writers= 64
  bucket_threads     = 2
  merge_threads      = 2

  // Steps toggles
  split_bam          = true
  featurecounts      = true

  featurecounts_threads    = 16
  featurecounts_batch_size = 200
  featurecounts_extra      = "-g gene_id -t exon -s 1"

  // Container image 
  container_trq           = 'docker://varishenlab/tranquillyzer:tranquillyzer_v0.2.0_tf_2.15.1'
  container_subread       = 'docker://varishenlab/featurecounts:subread2.0.6_py3.10.12'
}