params {
  samplesheet = './tests/10x3p/samplesheet.txt'
  outdir      = 'results'

  reference          = './tests/references/hg38_gencode_chr21.fa'
  seq_order_file     = ''

  // base_qual flag
  output_bquals      = false
  output_fastq       = false

  // Model
  model_name         = '10x3p_sc_ont_011'
  model_type         = 'CRF'
  chunk_size         = 300_000
  bc_lv_threshold    = 1
  gpu_mem            = 48

  // Resources
  preprocess_cpus    = 32
  annotate_cpus      = 32
  align_cpus         = 32
  dedup_cpus         = 16
  max_open_cb_writers= 64
  bucket_threads     = 16
  merge_threads      = 16

  // Container image (can be overridden in profiles/CLI)
  container_trq      = 'varishenlab/tranquillyzer:tranquillyzer_v0.1.1_tf_2.15.1'
}