params {
  help = false
  version = false
  // execution - local/slurm
  executor                = 'local'

  // Container image
  container_engine        = 'docker'
  container_gpu_flags     = ''
  container_trq           = 'varishenlab/tranquillyzer:tranquillyzer_v0.2.1_tf2.15.0'
  container_subread       = 'varishenlab/featurecounts:subread2.0.6_py3.10.12'
  image_dir               = "$baseDir/container_images"
  cuda_lib_dir            = ""
  container_binds         = []
  container_extra_opts    = ''
  enable_gpu       = false

  // SLURM settings
  slurm_queue             = 'shen'
  slurm_time              = '48h'
  slurm_cpus              = 64
  slurm_gpu_opts          = ''

  samplesheet             = './tests/samplesheet.txt'
  outdir                  = './tests/10x3p'

  // Reference files 
  reference               = './tests/references/hg38_gencode_chr21.fa'
  gtf                     = './tests/references/gencode.v30.annotation_chr21.gtf'

  // Concurrency
  preprocess_maxForks    = 1
  readlengthdist_maxForks= 1
  annotate_maxForks      = 1
  align_maxForks         = 1
  dedup_maxForks         = 1
  splitbam_maxForks      = 1
  featurecounts_maxForks = 1
  // maxForks               = 1
  queueSize              = 1

  // preprocess options
  preprocess_opts         = '--output-base-qual --threads 2'

  // annotate-reads options
  annotate_reads_opts     = '--output-fmt fastq --model-name 10x3p_sc_ont_011 \
                             --model-type CRF --chunk-size 300000 --bc-lv-threshold 2 \
                             --gpu-mem 48 --threads 2'

  // align options
  align_opts              = '--threads 2'

  // dedup options
  dedup_opts              = '--threads 2 --lv-threshold 2'

  // split_bam toggle
  split_bam               = true

  //split-bam options
  split_bam_opts          = '--bucket-threads 2 --merge-threads 2 \
                             --max-open-cb-writers 64'

  // featurecounts toggle
  featurecounts           = true

  // featurecounts options
  featurecounts_opts      = '--threads 2 --batch-size 200 --extra \"-g gene_id -t exon -s 1\"'
}