name: run CI

on:
  push:
    branches: [main, dev]
  pull_request:
    branches: [main, dev]

jobs:
  nextflow-matrix:
    runs-on: ubuntu-latest
    timeout-minutes: 360

    strategy:
      fail-fast: false
      matrix:
        dataset: ["10x3p"]  # add "10x5p", "tranquil_seq" later

    env:
      NF_TEST_CASE: ${{ matrix.dataset }}
      NF_TEST_OUTDIR: ./tests/${NF_TEST_CASE}/results

    steps:
      - uses: actions/checkout@v4

      - name: Set up Java (Nextflow requires it)
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"

      - name: Install Nextflow
        run: |
          curl -s https://get.nextflow.io | bash
          sudo mv nextflow /usr/local/bin/nextflow
          nextflow -version

      - name: Run Nextflow (docker_local_cpu) for ${NF_TEST_CASE}
        run: |
          rm -rf "${NF_TEST_OUTDIR}"
          nextflow run . \
            -c "conf/tests/params_${NF_TEST_CASE}.config" \
            -profile local \
            --samplesheet tests/samplesheet.txt \
            --reference tests/references/hg38_gencode_chr21.fa \
            --gtf tests/references/gencode.v30.annotation_chr21.gtf \
            --outdir tests/10x3p \
            --enable_gpu false \
            --cleanup_transform true"

      ## Don't need pytest for now, as tests are run via Nextflow itself
      
      # - name: Set up Python (pytest)
      #   uses: actions/setup-python@v5
      #   with:
      #     python-version: "3.10.12"
      #     cache: pip
      
      # - name: Install pytest
      #   run: |
      #     python -m pip install --upgrade pip
      #     pip install pytest
      
      # - name: Run pytest
      #   run: |
      #     pytest -q